stages:
  - build

.default:
  tags:
    - ci

{%- for container in containers %}
{{ container.name }}:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.23.2-debug
    entrypoint: [""]
  script:
    - |
        VERSION="$(cat {{ container.root_path }}/VERSION | xargs echo -n)"
        /kaniko/executor \
          --context "${CI_PROJECT_DIR}/{{ container.root_path }}" \
          --dockerfile "${CI_PROJECT_DIR}/{{ container.root_path }}/Dockerfile" \
          --destination "${CI_REGISTRY_IMAGE}/{{ container.name }}:${VERSION}"
  rules:
    - changes:
        - .parse_containers.py
        - .gitlab-ci.yml
        - .sub.gitlab-ci.yml.j2
        - {{ container.root_path }}/**

{% endfor -%}
